{{!-- This is where single user's profile is displayed --}}

<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">User Profile</h5>
          <p><strong>User Name</strong>: {{users.userName}}</p>
          <p><strong>Picture</strong>: <img src={{users.picURL}}></p>
          <p><strong>Cat/Dog Person:</strong> {{users.catDog}}</p>
          <p><strong>City:</strong> {{users.city}}</p>
          <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>