{{!-- This is where single user's profile is displayed --}}

<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-header">
          <h5 class="card-title">User Profile</h5>
        </div>
        <div class="card-body" id="userDisplayDiv">
          <p><strong>User Name</strong>: {{users.name}}</p>
          <p><strong>Picture</strong>: <img src={{users.pictureurl}} width="200px" height="200px"></p>
          <p><strong>Cat/Dog Person:</strong> {{users.catDog}}</p>
          <p><strong>City:</strong> {{users.city}}</p>
          <br>
          <a href="/score" id="backtoScoreLink">← Back To Scores</a>
        </div>
      </div>
    </div>
  </div>
</div>